# Welcome to Bridgetown!
#
# This config file is for settings that affect your whole site, values
# which you are expected to set up once and rarely edit after that.
#
# A list of all available configuration options can be found here:
# https://www.bridgetownrb.com/docs/configuration/options
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `bin/bridgetown start`. If you change this file, please restart the server process.
#
# For reloadable site metadata like title, SEO description, social media
# handles, etc., take a look at `src/_data/site_metadata.yml`
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#

url: "https://www.rickychilcott.com" # the base hostname & protocol for your site, e.g. https://example.com

permalink: pretty
template_engine: erb
markdown: CommonMark

base_path: "/"

timezone: America/New_York
pagination:
  enabled: true

additional_watch_paths:
  - ../Home/Personal/Website/posts
  - ../Home/Personal/Website/projects
  - ../Home/Personal/Website/til

obsidian_local_sync:
  vault_base_path: ~/github/Home/
  locations:
    - from: Personal/Website/posts
      to: _posts
    - from: Personal/Website/projects
      to: _projects
    - from: Personal/Website/til
      to: _til

generate_pdf:
  - input: resume/index.html
    output: resume.pdf
