---
layout: default
---

<h1 class="mt-6 mb-8 text-center font-black text-[2.5rem] text-heading leading-[1.2]"><%= data.title %></h1>

<div data-controller="anchor-copy code-copy">
<%= yield %>
</div>
