<footer class="text-center mb-16 text-base text-[#888]">
  <p>
    Copyright &copy; <%= Time.now.year %>
  </p>
  <div class="flex justify-center gap-4 mt-4">
    <div>
      <a href="mailto:<%= metadata.social.email %>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <div>
      <a href="https://github.com/<%= site.metadata.social.github %>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-brands fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <div>
      <a href="https://linkedin.com/in/<%= site.metadata.social.linkedin %>">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-brands fa-linkedin-in fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
  </div>
</footer>
